<%= image_tag("wax.jpg", size: "1000x700", alt: "Knitting", class: "mainpagePhoto") %>
<br>
<br>

  <h1 class="center">Events</h1>
  <br>
  <br>
  <div class="row">
    <ul>
      <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card">
          <li><%= image_tag(event.image) %></li>
          <li><%= link_to event.name, event_path(event) %></li>
          <li><%= event.location %></li>
          <li> <%= event.date %></li>
          <li><%= number_to_currency event.price %></li>
        </div>
      </div>
      <br>
      <br>
      <% end %>
    </ul>

  </div>
<%= link_to "New Event", new_event_path %>
