<div class="mainpagePhoto"><%= image_tag("knit.jpg", size: "1000x700", alt: "Knitting") %></div>

<div class="container">
  <h1>Events</h1>
  <div class="row">
    <ul>
      <% @events.each do |event| %>
      <div class="col-md-4">
        <li><%= image_tag %>
        <li><%= link_to event.name, event_path(event) %></li>
        <li><%= event.location | event.date %></li>
        <li><%= number_to_currency event.price %></li>
      <% end %>
    </ul>
      </div>
  </div>
</div>
<%= link_to "New Event", new_event_path %>
