<h1>New event</h1>

<% if @event.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :price%>
  <%= f.text_field :price %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit  %>
<% end %>
