<div class="pad">
<%= image_tag(@event.image, class: "mainpagePhoto") %>
<br>
<br>
<h1><%= @event.name %></h1>
<h2><%= @event.location %></h2>
<h2><%= @event.date %></h2>
<h3><%= number_to_currency @event.price %></h3>
<h6><%= @event.description %></h6>
<br>
<p><%= link_to "Return to events", events_path %></p>
<p><%= link_to "Admin- Edit", edit_event_path(@event) %></p>
<p><%= link_to "Admin- Delete", event_path(@event),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
</div>
