<!DOCTYPE html>
<html>
  <head>
    <title>LearnHow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  </head>

  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= image_tag("logo.png", size: "70x70", alt: "Learn How Logo", class: "navPhoto") %>
      </ul>

      <ul>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Host an Event" %></li>
        <li><%= item_total %><%= link_to 'Item(s) in Cart', '/cart' %><li>
        <li><span class="total"><%=  number_to_currency current_order.total_price %></span><li>
        <% if current_user %>
          <li><%= link_to('Edit User', edit_user_registration_path) %></li>
        <% end %>

        <% if current_user %>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
          <li><%= link_to('Register', new_user_registration_path) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<br>
<br>
  <body>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
